html, body {
    -webkit-font-smoothing: antialiased;
  }

@media (min-width: 768px){
  .navbar-nav>li>a {
      padding-top: 14px;
      padding-bottom: 14px;
  }
}

  .nav li i{
    font-size: 26px;
    transform: translate(-4px, 5px)  ;
    -webkit-transform: translate(-4px, 5px)  ;
    -moz-transform: translate(-4px, 5px)  ;
    -ms-transform: translate(-4px, 5px)  ;
    -o-transform: translate(-4px, 5px)  ;
}

.thumbnail{
    background: #fff;
}

.add-company{
    padding: 5px 10px;
    margin-top: -5px;
    background: #3097D1;
    color: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.add-company:hover{
    color: #fff;
    padding: 5px 15px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


/* comment box */

.comment-wrap input, .comment-wrap textarea {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    margin: 0;
    padding: 10px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    /* font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; */
    /* font-size: 1rem; */
    color: #555f77;
    margin: 5px 0;
  }
  .comment-wrap input::-webkit-input-placeholder, .comment-wrap textarea::-webkit-input-placeholder {
    color: #ced2db;
  }
  .comment-wrap input::-moz-placeholder, .comment-wrap textarea::-moz-placeholder {
    color: #ced2db;
  }
  .comment-wrap input:-moz-placeholder, .comment-wrap textarea:-moz-placeholder {
    color: #ced2db;
  }
  .comment-wrap input:-ms-input-placeholder, .comment-wrap textarea:-ms-input-placeholder {
    color: #ced2db;
  }
  
  

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
  }
  
  .comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
  }
  
  .photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
  }
  .photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
  }
  
  .comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }
  .comment-block textarea {
    width: 100%;
    resize: none;
  }
  
  .comment-text {
    margin-bottom: 1.25rem;
  }
  
  .bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
  }
  
  .comment-date {
    float: left;
  }
  
  .comment-actions {
    float: right;
    min-width: 135px;
  }
  .comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
  }
  .comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
  }
  .comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
  }
  .comment-actions li:hover {
    color: #0095ff;
  }

  .comment-email{
    color: #acb4c2;
    font-size: 0.875rem;
  }

  .font-bold{
    font-weight: bold;
  }